* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.top, .bottom, .left, .right, .sec1, .sec2, .sec3 {
    padding: 20px; 
    justify-content: space-between;
}

.container {
    height: 100vh; 
}

.top, .bottom {
    width: 100%;
    height: 70px; 
    background-color: #e9e4db;
    text-align: left;
    position: relative;   
    padding: 0 20px;     
}

.left {
    position: absolute;
    top: 70px;
    left: 0;
    width: 20%;
    height: calc(100vh - 140px); 
    background-color: #d2cabb;
}

.main {
    flex-grow: 1; 
    margin-left: 20%; 
    display: flex;
    flex-direction: column;
}

.right {
    position: absolute;
    top: calc(70px + 70px); 
    right: 0;
    width: 20%;
    bottom: 70px; 
    height: 400px;
    background-color: #d2cabb;
    text-align: right;
    padding-right: 0;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:  #c0b5a2;
    text-align: right;
    padding: 20px;
}

.sec1, .sec2, .sec3{
    justify-content: space-between;
    background-color: #b2a58f;
}

.sec1, .sec3 {
    height: 70px;
} 

.sec2{
    background-color: #9e9079;
    height: calc(100vh - 270px); 
    margin-right: 25%; 
    justify-content: center;
    position: relative;
}

.sec3{
    background-color:  #b2a58f;
    margin-right: 25%; 
}


h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    font-size: 12px;
    color: rgb(60, 42, 10);
    white-space: normal;
}

h1{
    text-align: left; 
    top: 40%; 
    position: absolute;
}

h2{
    text-align: right;   
    right: 20px;          
    width: 300px;  
    top: 20%; 
    position: absolute;      
}

h5{
    text-align: left;   
    position: absolute;
    left: 20px;                  
    width: 300px;  
    top: 20%;  
}

h4{ 
    text-align: right; 
    top: 40%; 
    position: absolute;   
    right: 20px;
}

h3{
    text-align: right;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

h6{
    width: 80%; 
    word-wrap: break-word;
    white-space: normal;
    text-align: right;
    padding-right: 0px;
    position: absolute; 
    max-width: 100%;
    margin: 30px auto; 
}