* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

body, html {
    height: 100%;
}

.container {
    width: 100%;
    border-collapse: collapse;
}

.top {
    width: 100%;
    height: 70px;
    background-color: #e9e4db;
    text-align: left;
    padding: 20px;
}

.left {
    position: absolute;
    top: 70px;
    left: 0;
    width: 20%;
    height: calc(100vh - 140px);
    background-color: #d2cabb;
}

.right {
    position: absolute;
    top: 70px;
    right: 0;
    width: 20%;
    height: calc(100vh - 140px);
    background-color: #d2cabb;
    padding: 20px;
    text-align: right;
}

.main {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    background-color: aqua;
    height: calc(100vh - 140px);
}

.sec1 {
    background-color: #b2a58f;
    height: 70px;
    padding: 20px;
}

.sec2 {
    background-color: #9e9079;
    height: calc(100% - 140px); 
    text-align: right;
    padding: 20px;          
}

.sec3 {
    background-color: #b2a58f;
    height: 70px;
    padding: 20px;
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color:  #c0b5a2;
    text-align: right;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
    font-size: 12px;
    color: rgb(60, 42, 10);
    white-space: normal;
}

.h2{
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: calc(100hw - 20px);
}

.h1{
    padding-top: 10px;
    padding-left: 20px;
    text-align: left;
}

h5{
    text-align: left;   
    position: absolute;
    left: 20px;                  
    width: 300px;  
    top: 20%;  
}

h4{ 
    text-align: right; 
    top: 40%; 
    position: absolute;   
    right: 20px;
}

h3{
    text-align: right;
    width: 300px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

h6{
    width: 80%; 
    word-wrap: break-word;
    white-space: normal;
    text-align: right;
    padding-right: 0px;
    position: absolute; 
    max-width: 100%;
    margin: 30px auto; 
} 


